.banner {
  margin-bottom: 60px;
}

.container--banner {
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, 120px);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.40) 100%), url(<path-to-image>), lightgray 0px -437.122px / 109.661% 286.301% no-repeat;
  background-image: url("../../images/banner.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: none;
  background-blend-mode: multiply;
  border-radius: 20px;
}

.banner__image {
  grid-column: 1 / 12;
  grid-row: 1 / 4;
  width: 100%;
  max-height: 480px;
  object-fit: cover;
  object-position: -10%;
}

.banner__header {
  place-self: end start;
  grid-row: 2 / 3;
  grid-column: 2 / 8;

  font-family: "Lato Bold";
  font-size: 70px;
  font-weight: 700;
  line-height: 130%;
}

.banner__timer {
  place-self: start center;
  grid-row: 4 / 5;
  grid-column: 1 / 13;
}

.timer__header {
  place-self: end center;
  grid-row: 3 / 4;
  grid-column: 1 / 13;

  font-family: "Lato Bold";
  font-size: 16px;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 5px;
}

.timer__items {
  display: inline-flex;
  gap: 30px;
}

.timer__item {
  font-family: "Lato Bold";
  font-size: 32px;
  font-weight: 700;
  line-height: 130%;
}

.timer__value {
  font-family: "Lato Bold";
  font-size: 60px;
  font-weight: 700;
  line-height: 130%;
}

@media (max-width: 1200px) {
  .banner {
    margin-bottom: 22px;
  }

  .container--banner {
    grid-template-rows: repeat(4, 78.5px);
  }

  .banner__header {
    place-self: center start;
    grid-row: 2 / 3;
    grid-column: 2 / 6;

    font-size: 40px;
    line-height: 130%;
  }

  .timer__item {
    font-size: 20px;
    line-height: 130%;
  }

  .timer__value {
    font-size: 40px;
    line-height: 130%;
  }
}

@media (max-width: 768px) {
  .banner {
    margin-bottom: 40px;
  }

  .container--banner {
    border-radius: 8px;
  }

  .banner__header {
    grid-column: 2 / 8;
    font-size: 30px;
    line-height: 130%;
  }

  .timer__header {
    font-size: 12px;
    line-height: 130%;
  }

  .timer__items {
    gap: 10px;
  }

  .timer__item {
    font-size: 16px;
    line-height: 130%;
  }

  .timer__value {
    font-size: 30px;
    line-height: 130%;
  }
}

@media (max-width: 600px) {
  .banner {
    margin-bottom: 20px;
  }

  .banner__image {
    height: 340px;
  }

  .banner__header {
    place-self: start center;
    grid-column: 2 / 12;
    font-size: 30px;
    line-height: 130%;
  }

  @media (max-width: 480px) {
    .container--banner {
      grid-template-rows: repeat(5, 68px);
    }

    .banner__header {
      font-size: 22px;
      line-height: 130%;
    }

    .banner__timer {
      grid-row: 5 / 6;
    }

    .timer__header {
      grid-row: 4 / 5;
      font-size: 8px;
      line-height: 130%;
    }

    .timer__items {
      gap: 8px;
    }

    .timer__item {
      font-size: 12px;
      line-height: 130%;
    }
  
    .timer__value {
      font-size: 20px;
      line-height: 130%;
    }
  }
}