.container--header {
  align-items: center;
  grid-template-columns: 190px 1fr 4.3fr 1fr;
  grid-template-areas: 'logo menu search nav';
  padding-top: 34px;
  margin-bottom: 90px;
}

.logo {
  grid-area: logo;
  padding-top: 14px;
}

@media (max-width: 1600px) {
  .container--header {
    grid-template-areas:
      "logo nav nav nav"
      "menu search search search"
    ;
    row-gap: 34px;
    margin-bottom: 60px;
  }
}

@media (max-width: 768px) {
  .container--header {
    margin-bottom: 50px;
  }

  .logo {
    padding-top: 0;
    width: 165px;
  }
}

@media (max-width: 600px) {
  .container--header {
    grid-template-columns: unset;
    grid-template-areas:
    "logo logo"
    "menu nav"
    "search search"
  ;
    margin-bottom: 40px;
    row-gap: 20px;
  }

  .logo {
    padding-top: 0;
    width: 165px;
  }
}