.menu {
  grid-area: menu;
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  gap: 7px;

  width: 151px;
  height: 54px;
  border-radius: 10px;
  background: #3670C7;
}

.menu__label {
  color: #FFF;
  font-family: "Lato Regular";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;

  padding-top: 2px;
}

@media (max-width: 1600px) {
  .menu {
    justify-self: unset;
  }
}

@media (max-width: 768px) {
  .menu__label {
    font-size: 16px;
    line-height: 150%;
  }
}

@media (max-width: 768px) {
  .menu {
    height: 40px;
    width: 120px;
  }
}

@media (max-width: 480px) {
  .menu {
    height: 30px;
    width: 79px;
  }

  .menu__label {
    font-size: 12px;
    line-height: 150%;
  }

  .menu__icon {
    width: 14px;
    height: 14px;
  }
}