.promo {
  padding-bottom: 32px;
}

.promo__items {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(6, 1fr);
  gap: 60px;
}

.promo__item {
  display: grid;
  align-items: end;

  font-family: "Lato Bold";
  font-size: 30px;
  font-weight: 700;
  line-height: 130%;

  background: linear-gradient(181deg, rgba(0, 0, 0, 0.00) 8.18%, rgba(0, 0, 0, 0.20) 99.15%), url(<path-to-image>), lightgray 0px -95.797px / 100% 160.658% no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: multiply;
  border-radius: 20px;
  padding: 20px;
}

.promo__item--sneakers {
  font-family: "Lato Regular";
  font-size: 40px;
  font-weight: 400;
  line-height: 120%;
}

.promo__span--book {
  font-family: "Lato Regular";
  font-size: 40px;
  font-weight: 700;
  line-height: 130%;
}

.promo__span--sneakers {
  display: block;
  font-family: "Lato Bold";
  font-size: 56px;
  font-weight: 700;
  line-height: 120%;
}

.promo__block--sneakers {
  display: grid;
  place-self: end start;
  place-content: center center;
  width: 100%;
  border-radius: 20px;
  background: #38C0EB;
  padding: 26px 24px;
}

.promo__block--new-year {
  display: grid;
  place-self: end start;
  place-content: center center;
  height: 115px;
  max-width: 643px;
  border-radius: 20px;
  background: #FFF;
  color: #F91155;
  font-family: "Lato Bold";
  font-size: 40px;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
  padding: 41px 32px;
}

.promo__item--book {
  background-image: url("/images/book.jpg");
  font-family: "Lato Regular";
  font-size: 30px;
  line-height: 130%;
  font-weight: 400;
}

.promo__item--clock {
  grid-template-rows: repeat(2, con);
  background-image: url("../../images/clock.jpg");
  padding-left: 14px;
  padding-right: 14px;
}

.promo__item--sneakers {
  grid-column: span 2;
  grid-row: span 2;
  background-image: url("../../images/sneakers.jpg");
}

.promo__item--gifts {
  grid-column: span 2;
  background-image: url("../../images/gift.jpg");
}

.promo__item--sneaker {
  grid-column: span 2;
  background-image: url("../../images/sneaker.jpg");
}

.promo__item--laptop {
  grid-template-columns: auto 1fr;
  grid-column: span 2;
  background-image: url("../../images/laptop.jpg");
}

.promo__item--new-year {
  grid-column: span 4;
  grid-row: span 2;
  background-image: url("../../images/2022.jpg");
  padding: 50px;
}

.promo__item--dress {
  grid-row: span 2;
  background-image: url("../../images/dress.jpg");
}

.promo__item--cleaning {
  background-image: url("../../images/cleaning.jpg");
}

.promo__item--balls {
  transform: scaleX(-1);
  background-position: 0;
  background-image: url("../../images/balls.jpg");
}

.promo__ellipse {
  display: inline-grid;
  place-content: center center;
  width: 88px;
  height: 88px;
  border-radius: 100%;
  background-color: #FFBD13;
}

.promo__ellipse--clock {
  place-self: end end;
  margin-right: 6px;
}

.promo__ellipse--sneaker {
  place-self: start start;
}

.promo__ellipse--laptop {
  place-self: end end;
}

.promo__text--laptop {
  margin-bottom: 10px;
}

.promo__ellipse--dress {
  place-self: end end;;
}

.promo__ellipse--cleaning {
  place-self: start start;
}


@media (max-width: 1560px) {
  
}