.search {
  grid-area: search;
  justify-self: center;
  width: 100%;
  height: 54px;
  max-width: 757px;
}

.search__form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.search__input {
  grid-column: 1 / 4;
  grid-row: 1 / 2;

  width: 100%;
  height: 54px;
  outline: none;
  border: none;
  border-radius: 30px;
  background: #EFEFEF;
  padding: 15px 0 18px 40px;
}

.search__input::placeholder {
  color: #8F8F8F;
  font-family: "Lato Bold";
  font-size: 16px;
  font-weight: 700;
  line-height: 130%
}

.search__submit {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  display: grid;
  justify-self: end;
  place-items: center center;

  width: 101px;
  height: 54px;
  border-radius: 30px;
  background: #3670C7;
}

@media (max-width: 1600px) {
  .search {
    justify-self: end;
    max-width: 1200px;
  }
}

@media (max-width: 768px) {
  .search {
    height: unset;
  }

  .search__input::placeholder {
    font-size: 12px;
    line-height: 130%;
    padding-left: 0;
  }
}

@media (max-width: 600px) {
  .search__input {
    height: 30px;
  }

  .search__submit {
    width: 50px;
    height: 30px;
  }

  .search__icon {
    width: 20px;
    height: 20px;
  }
}