.body {
  margin: 80px 75px 0px 75px;
  margin-top: 80px;
  margin-left: 75px;
  margin-right: 75px;
  font-family: Lato, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #2D2D2D;
  font-style: normal;
  font-size: 22px;
  font-weight: 400;
  line-height: 150%;
}

.article-header {
  margin: 40px 0px 40px 0px;
  font-size: 50px;
  line-height: 65px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.article {
  padding-bottom: 150px;
}

.author {
  color: black;
}

.navigation__link-back {
  padding-top: 10px;
  text-decoration: none;
  color: #2D2D2D;
  height: 24px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20.8px;
}

.navigation__link-back::before {
  content: url('/assets/keyboard_backspace.svg');
  vertical-align: middle;
  padding-right: 10px;
}

.article-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}