.page {
  margin: 80px 75px 0px 75px;
  margin-top: 80px;
  margin-left: 75px;
  margin-right: 75px;
  color: #2d2d2d;
  font-family: "Lato Regular", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 150%;
}

.article__header {
  margin: 40px 0px 40px 0px;
  font-family: "Lato Bold", sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 65px;
  line-height: 130%;
}

.article__body {
  padding-bottom: 150px;
}

.article__bottom {
  position: relative;
}

.article__navigation,
.article__author {
  position: absolute;
  top: 0;
}

.article__navigation {
  left: 0;
}

.article__author {
  right: 0;
  color: black;
  line-height: 0%;
}

.article__link--back {
  padding-top: 10px;
  text-decoration: none;
  color: #2d2d2d;
  height: 24px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20.8px;
}

.article__link--back::before {
  content: url('../assets/keyboard_backspace.svg');
  vertical-align: middle;
  padding-right: 10px;
}